<div class="row clearfix">
	<div class="col-md-12 col">
		<div class="page-header">
			<h1>{{bjj.belt}}</h1>
		</div>
		<ul class="breadcrumb">
			<li>
				<a href="#">Home</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">Library</a> <span class="divider">/</span>
			</li>
			<li class="active">Data
			</li>
		</ul>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-4 col">
		<div class="panel panel-primary">
			<div class="panel-heading">Упражнения</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-6">Название</th>
							<th class="col-md-4"></th>
							<th class="col-md-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="drill in bjj.drills.belts.blue track by drill.id" ng-class="{ 'success': (drill.count > drill.range.max), 'warning': ((drill.count >= drill.range.min) && (drill.count <= drill.range.max)), 'danger': (drill.count < drill.range.min) }">
							<td class="col-md-6">{{drill.name}}</td>
							<td class="col-md-4">
								<div class="btn-group btn-group-xs pull-right">
									<button class="btn btn-default" type="button" ng-click="handlers.drill.increment(drill)"><em class="glyphicon glyphicon-plus"></em></button>
									<button class="btn btn-default" type="button" ng-click="handlers.drill.decrement(drill)"><em class="glyphicon glyphicon-minus"></em></button>
								</div>
							</td>
							<td class="col-md-2"><span class="badge">{{drill.count}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer">&nbsp;<span class="badge pull-right">17%</span></div>
		</div>
	</div>
	<div class="col-md-4 col">
	</div>
	<div class="col-md-4 col">
		<ul class="nav nav-stacked nav-pills">
			<li class="active">
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Profile</a>
			</li>
			<li class="disabled">
				<a href="#">Messages</a>
			</li>
			<li class="dropdown pull-right">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Action</a>
					</li>
					<li>
						<a href="#">Another action</a>
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Separated link</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-12 col">
	</div>
</div>
